body{
    background-image: url("playingTableImage/playingTable.jpg");
    color: yellow;
}

header{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: yellow;
}

#logo{
    border-radius: 10px;
    border-color: yellow;
}

#elapsedTime{
    color: yellow;
    text-align: center;
}

footer{
    text-align: center;
    color: white;
}

div {
    display: inline-block;
    width: 50%;
    margin-left: 24%;
    margin-right: 24%;
}